<div class="container">

    <form method="POST">

            <!-- When there' no questions to answer -->

            <!-- if (item.questions.length == 0) { -->

                <!-- <div class="row">
                    <div class="col-lg-3 col-md-1 col-sm-12"></div>
        
                    <div class="col-lg-6 col-md-10 col-sm-12 text-center p-5 my-5">
                        <h1 class="display-6"> This Survey Is Empty!</h1>
                        <button type="submit" class="btn btn-secondary">Take me out of here!</a>
                    </div>
                    <div class="col-lg-3 col-md-1 col-sm-12"></div>
                </div> -->
             
            <!-- } else { -->

            <!-- ============================================================================================ -->
            <!-- =============                         LOOPING!!!!!!!                        ================ -->            
            <!-- ============================================================================================ -->
            
            <!-- for( let i = 0; i < item.questions.length; i++ ) { -->
        <div class="row">
            <div class="col-lg-3 col-md-1 col-sm-12"></div>
            <div class="col-lg-6 col-md-10 col-sm-12">

                <div class="jumbotron bg-light mt-5 p-5 text-center">
                    <h6> Question #1 </h6>
                    <!-- Question Goes Here -->
                    <h1 class="display-6"> How do you rate this website? </h1>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="70"> 25 </div>
                    </div>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 28%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="70"> 28 </div>
                    </div>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="70"> 50 </div>
                    </div>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 79%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="70"> 79 </div>
                    </div>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="70"> 10 </div>
                    </div>
                    
                    <!-- } --> 

                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-1 col-sm-12"></div>
        </div>

        <!-- } --> 
            <!-- ============================================================================================ -->
            <!-- =============                         LOOPED !!!!!!!                        ================ -->            
            <!-- ============================================================================================ -->
        <div class="row">
            <div class="col-lg-3 col-md-1 col-sm-12"></div>

            <div class="col-lg-6 col-md-10 col-sm-12 text-center p-5 my-5">
                <h1 class="display-6"> Thank you for your time!</h1>
                <a href="/survey/manage" class="btn btn-secondary mt-3">Take Me Back!</a>
            </div>
            <div class="col-lg-3 col-md-1 col-sm-12"></div>
        </div>

        <!-- } -->

    </form>
</div>